<form action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom">Change your password</legend>
        <div class="form-group mb-3">
            {{ form.password_old.label(class="form-control-label") }}
            {% if form.password_old.errors %}
            {{ form.password_old(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password_old.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password_old(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ form.password2.label(class="form-control-label") }}
            {% if form.password2.errors %}
            {{ form.password2(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password2.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password2(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mb-3">
        {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </fieldset>
</form>
